[2018-11-19 13:47] joshunger opened #1 "fatal error: Python.h: No such file or directory"
`config.yml`

[code]

[code]

[2018-11-19 13:55] joshunger commented on #1
This fixed the issue -

[code]

[2018-11-19 14:04] joshunger opened #2 "Support $AWS_DEFAULT_REGION environment variable"
The AWS client supports the environment variable `$AWS_DEFAULT_REGION`. I think they got rid of `$AWS_REGION` awhile ago?  I'm wondering how many CircleCI customers have `$AWS_DEFAULT_REGION` vs `$AWS_REGION`?

See https://docs.aws.amazon.com/cli/latest/userguide/cli-environment.html

[2018-11-19 14:07] joshunger opened #3 "Support no AWS region because S3 works without"
S3 commands don't require an AWS region and default to US East so it isn't necessary to set a region however the orb fails with the following error message -

[code]

[2018-12-14 20:20] iynere commented on #3
good idea, on it, sorry for delay ! @joshunger

[2018-12-14 20:22] #3 closed

[2018-12-14 20:22] iynere commented on #3
@joshunger check the registry or the source here—there's a new param u can use to skip configuring a default region

[2018-12-14 20:23] #2 closed

[2019-01-08 19:56] iynere commented on #1
@joshunger that's a different orb : https://github.com/CircleCI-Public/circleci-orbs/tree/staging/src/aws-s3

[2019-01-08 19:56] #1 closed

[2019-01-08 19:56] iynere commented on #1
feel free to file your issue against that repo—& sorry for the long reply !

[2019-04-19 11:08] autopulated opened #8 "fatal error: Python.h: No such file or directory"
Install command fails:

[code]

config:
[code]

[2019-04-21 19:17] lielran commented on #8
Same as here. add this to your steps
[code]

[2019-04-25 10:29] autopulated commented on #8
👍 With the need for this extra step, it's just as simple to install the cli manually from pip 🙈

[2019-05-06 17:49] phil-lgr opened #9 "`aws eks` missing when running job and `aws --version mismatch`"
A minimal config:

[code]

the `aws_cli_setup` job completes but when I run `aws eks` I get:

`Invalid choice: 'eks', maybe you meant:`

I don't understand why `aws eks` is not available with that version of the aws cli...

in the other job, `build_test_deploy`, `- run: aws --version` reports a different version, I don't get it :(

![image](https://user-images.githubusercontent.com/9644867/5724397

[2019-05-06 17:50] phil-lgr commented on #9
I opened a thread but the CircleCI employee didn't know at the end and recommended I open an issue here: https://discuss.circleci.com/t/orb-circleci-aws-cli-is-not-really-the-aws-cli-eks-command-missing/30240/14

[2019-05-06 17:50] iynere commented on #9
@phil-lgr are you installing the CLI via the orb in one job, & then attempting to use it in another job ? that won't work, as the version you're installing in the first job won't persist in the second job.

[2019-05-06 17:51] iynere commented on #9
@phil-lgr can you try running `aws eks` commands in the same job as that you're running `aws-cli/install` and `aws-cli/configure`?

[2019-05-06 17:52] phil-lgr commented on #9
ah! then I'm just dumb, how can i run the steps in my main job? the executor are not the same

[2019-05-06 17:53] iynere commented on #9
that shouldn't matter @phil-lgr

please give it a shot. thanks!

[2019-05-06 17:54] iynere commented on #9
the aws-cli orb could use some attention in general—there's no reason for us to be publishing an executor at all, when the orb only has commands & not jobs. i'll try to clean it up a bit today. thanks!

[2019-05-06 17:56] #9 closed

[2019-05-06 17:58] phil-lgr commented on #9
@iynere thanks a lot, yes I'm not a DevOps God so that part really confused me, it works now!

[2019-05-13 19:50] BalmungSan commented on #8
Agree, having to install another package defeats the purpose of using the aws-cli orb...

Anyways, IMHO (as well as to [others](https://github.com/circleci/circleci-images/issues/53)), having to install the cli on each job feels like a completely waste of time.

[2019-05-14 16:06] perbergland opened #10 "Can’t figure out how to write a valid aws-cli/configure step with parameters"
I assume it's just my poor yaml skills but I can't get this to work.

This does work:
[code]
but as soon as I add parameters, I get schema failures

[code]

[code]

[2019-05-15 00:10] felicianotech commented on #8
Python & pip need to be installed to use the `install` command of this orb.

If you want to have the aws cli pre-installed in an image, there's three options that come to mind.

1. Pre-install it in your own image.
2. Use the executor/image that comes along with this orb.
3. Use the `cibuilds/aws` image.

As for this specific issue, I'm not sure exactly how we'd want to solve it yet. If the logic

[2019-05-15 00:15] felicianotech commented on #10
Hi,

For support, please create a post in [CircleCI Discuss](https://discuss.circleci.com/c/ecosystem/orbs). Copying and pasting what you wrote here should be just fine.

Thank you.

[2019-05-15 00:15] #10 closed

[2019-05-15 16:05] BalmungSan commented on #8
We really do not want to maintain our own images, we have a lot of projects and almost all of them need a different one. Until now your official images have worked like a charm, with the only inconvenient of having to install the aws cli on almost all of them.
But, having to maintain a lot of images just for the cli does not seems like a good idea, we would end with a CD for our CD lol.

For steps

[2019-05-17 13:28] eddiewebb opened #11 "Add parameter to enable branch level filtering"
Use case is a job that pushes to multiple registries, but selection is based on branch.

Using multiple jobs and branch filtering is not applicable since it requires docker image to be passed which is slow and expensive.

Since config just calls orb, bash logic cant be used.  This should essentally add that bash logic to the install commands.

[2019-05-20 16:10] eddiewebb commented on #11
Instead of making this a concern of every orb, I have asked Product team for considerations and there is some step-level filtering and other potential changes to make this a universal pattern in the future.

For now @iynere pointed out t[his great command in our build-tools orb](https://github.com/CircleCI-Public/build-tools-orb/blob/master/src/commands/run-filtered.yml).

[code]

[2019-05-20 16:10] #11 closed

[2019-05-21 10:47] mt-sergio commented on #8
When will we have `@0.1.14` solving that?

[2019-05-22 18:47] iynere commented on #8
doesn't seem too hard to do a quick check if python/pip are installed & if not, install them—feel free to submit a PR @mt-sergio @BalmungSan @lielran @autopulated

[2019-05-22 18:48] iynere commented on #8
but really, we should provide a 1st-party `circleci/python` orb so it's easier & faster for anyone to install python/pip—that's my preferred solution

[2019-05-28 22:27] DWSR opened #12 "Don't check for sudo if already running as root"
### Orb version

`aws-s3@1.0.0`

### What happened

The `Install AWS CLI` script checks for the presence of `sudo` in PATH, even if already running as root.

### Expected behavior

The script should skip checking for sudo if already running as `root`.

[2019-05-28 22:29] DWSR opened #13 "Don't check for pip or sudo if aws is already present"
### Orb version

`aws-s3@1.0.0`

### What happened

If the `awscli` is already present (i.e. `aws` is in PATH), the `Install AWS CLI` step will still check for the presence of `pip` and `sudo`

### Expected behavior

The step should see that the command is present and exit successfully.

[2019-05-28 22:42] iynere commented on #13
@DWSR can you try the latest version of the `s3` orb (1.0.9) & let us know if this is still an issue ?

[2019-05-28 22:42] iynere commented on #12
@DWSR can you try the latest version of the `s3` orb (1.0.9) & let us know if this is still an issue ?

[2019-07-26 09:41] pieterjandesmedt opened #14 "Step 'Configure AWS Access Key ID' fails in aws-s3@1.0.11"
### Orb version

circleci/aws-s3@1.0.11

See also [this issue](https://github.com/CircleCI-Public/circleci-orbs/issues/179)

### What happened

Orb step `Configure AWS Access Key ID` fails, even though step `Install AWS CLI` succeeds.

end of output of `Install AWS CLI`:
[code]

output of `Configure AWS Access Key ID`
[code]

Config:
[code]

### Expected behavior

It should find the `aws` command

[2019-08-07 08:59] pieterjandesmedt commented on #14
Any feedback on this? @iynere @data-get ?

[2019-08-16 21:48] maxkramer opened #16 "Install aws cli installs the wrong python dependency"
I'm using the https://github.com/CircleCI-Public/aws-eks-orb, version and specifically the aws-eks/update-kubeconfig-with-authenticator@0.2.0  task which triggers the aws-cli/install command.

Over the past day or so, it has started failing with the following error:

[code]
This error takes place when the aws library has been installed via pip instead of the awscli library.

Having checked the cod

[2019-08-17 18:41] lokst commented on #16
@maxkramer Thanks for reporting this to us, we'll investigate it and get back to you as soon as possible.

[2019-08-17 19:01] lokst commented on #16
@maxkramer Could you link us to a build where this happens?

[2019-08-17 19:09] maxkramer commented on #16
@lokst my pleasure. Happy to send you a link, however I would only like to share it privately. Please could you follow me on Twitter (so that I can DM it to you) or alternatively provide me with your email address?

[2019-08-17 20:48] lokst commented on #16
Thanks @maxkramer, would you mind opening a support ticket at https://support.circleci.com/hc/en-us/requests/new to share the link?

[2019-08-17 20:52] maxkramer commented on #16
@lokst the support ticket id is 56057

[2019-08-18 15:19] maxkramer commented on #16
@lokst I can see that the version 0.1.9 is being used by the eks orb, and the source code for 0.1.9 shows the bug in the install command: https://circleci.com/orbs/registry/orb/circleci/aws-cli?version=0.1.9.

Fix would be upgrading the version used in the eks orb to the latest version.

[2019-08-20 17:36] jhoos commented on #13
This is still an issue for us, using the `aws-eks` orb; when you invoke the `install-aws-iam-authenticator` command from that orb, one of the things it does is invoke this orb's `install` command, which blindly tries to install the AWS CLI regardless of whether it's already present in the underlying Docker image.

The `install` command really should start with something like:

        if which aws

[2019-08-21 18:54] #13 closed

[2019-08-22 05:52] lokst commented on #14
@pieterjandesmedt It looks like ~/bin is not in $PATH. Could you add this step?

[code]

[2019-08-26 16:11] KyleTryon opened #20 "Implement Orb Starter Kit"
Waiting to add p[ipeline parameters to orb starter kit. Then implement Orb Starter Kit

[2019-09-05 15:11] mbklein opened #22 "Semantic Versioning: v0.1.16 breaks interface compatibility"
The change from `configure` to `setup` probably should have resulted in more than a point release, because now all my `circleci/aws-cli@0.1` workflows are broken.

It's not a _huge_ deal, and I can fix them easily. I just think it's worth thinking about in future releases.

[2019-09-05 19:33] KyleTryon commented on #22
Hello @mbklein Deeply sorry for the trouble caused here. This absolutely should have been a major change. The deployment process was handled by an older automatic release system that we are currently assessing to remove or improve.  To ensure no changes can affect your CircleCI config you can protect yourself by setting the full x.y.z semver but obviously, what you have should be safe and falls sq

[2019-09-05 20:01] mbklein commented on #22
No worries! It was a quick and easy fix on our end, and I understand that orbs are still new(ish) enough that these things will shake out. Thanks for the response!

[2019-09-05 20:01] #22 closed

[2019-09-13 13:17] s4ros opened #23 "Providing `python-version` to the executor"
Hi there!
I have a stupid question about the executor configuration. Regarding this line:
https://github.com/CircleCI-Public/aws-cli-orb/blob/master/src/%40orb.yml#L14
... so will anyone be so kind to provide me just a few lines of CirlceCI yaml configuration how to (and where exactly) configure the `python-version` for the aws-cli executor?

I was trying different things but I ended up with yaml

[2019-09-13 15:25] jhackGC opened #24 "aws cli too few arguments error"
Hi, when running this Orb command (setup), I'm getting this error:

aws configure set aws_access_key_id \
$AWS_ACCESS_KEY_ID \
--profile default
usage: aws [options] <command> <subcommand> [<subcommand> ...] [parameters]
To see help text, you can run:

  aws help
  aws <command> help
  aws <command> <subcommand> help
aws: error: too few arguments

Thanks !

[2019-09-15 21:12] s4ros commented on #24
did you provide the proper ENV variables within your CircleCI project's settings?

[2019-09-16 04:38] lokst commented on #14
@pieterjandesmedt Closing this issue for now due to inactivity; feel free to reopen this!

[2019-09-16 04:38] #14 closed

[2019-09-17 14:24] lokst commented on #24
@jhackGC Could you check if `AWS_ACCESS_KEY_ID` is defined?

[2019-09-17 14:28] jhackGC commented on #24
Hi, sorry the late response, The key and secret key were set yes, let me
take a few screenshots and show it.
I took a turnaround and I'm doing the connection manually, but If I can use
an Orb, better.

Thanks heaps for the answer

On Tue, 17 Sep 2019 at 11:24, Stella Lok <notifications@github.com> wrote:

[2019-09-20 08:47] raine opened #25 "Cache "Install AWS CLI" step"
Is there a way to cache the installation step?

What's the point of using the orb instead of a docker image that has the command built in, if you have to spend 15 seconds installing the tool in every build?

Cheers.

[2019-09-25 07:01] lokst commented on #23
@s4ros It can be specified like this:

[code]

Hope the example helps!

[2019-09-25 07:02] #23 closed

[2019-10-29 18:26] steffansluis commented on #14
I can confirm that adding ~/bin to the PATH fixes the problem, although I would obviously prefer not to have to do that. Had this issue with the `openjdk:8` image (presumably that is what causes this?).

[2019-11-07 02:53] Crazometer commented on #25
Alternatively could the default executor come with the cli installed?

[2019-11-14 04:37] lokst commented on #24
@jhackGC Apologies for the late response!

Is this the command that is giving you the error? Would you mind rerunning the job with SSH and then running the same command in your SSH session to check the output?

[code]
I recommend checking what the value of $AWS_ACCESS_KEY_ID is too.

[2019-11-19 04:40] lokst commented on #25
@raine It might be possible to cache the installation step by caching the Python dependencies installed with `pip`.
@Crazometer Thanks for the suggestion. The default executor is set to one of CircleCI's Python images for users' convenience. Although pre-installing the CLI into the image would make this orb perform faster, we have to consider the tradeoffs for other users of the image who do not u

[2019-11-20 07:25] Crazometer commented on #25
@lokst Not sure how the build process works there - I was thinking more along the lines of you could add a layer to the circleci python image.

[2019-12-05 14:11] jtownson opened #28 "Issue https://github.com/CircleCI-Public/circleci-orbs/issues/179"
The above issue refers to a bug in this orb.

[2019-12-05 14:15] jtownson commented on #28
At a guess, ther problem lies with the `which` command here. I think this because if I pre-install the awscli, the orb still attempt to install the awscli (but then that fails for a different reason: a user prompt to overwrite the existing awscli download fails because there is no stdin):
[code]

[2019-12-06 08:58] lokst commented on #28
@jtownson Would you mind sharing a link to the job where you encountered the problem?

[2019-12-06 10:12] lokst commented on #25
@Crazometer I understand the importance of reducing your build time 🙂 At the same time we do need to keep the circleci python image as slim as possible in the interests of other users, so I think it's more feasible to enhance the aws-cli orb instead, for example, to cache the python packages. I am adding this as a feature request to our backlog.

[2019-12-07 08:27] Crazometer commented on #25
Glad it’s on the backlog.

I think you are misunderstanding me though, the base image for this orb
could be something built on top of the standard python image. Hence non aws
users would not be affected.

On Fri, 6 Dec 2019 at 9:12 pm, Stella Lok <notifications@github.com> wrote:

[2019-12-12 06:46] lokst commented on #25
@Crazometer I understand what you mean. It's a great approach but considering the maintenance upkeep needed for every new convenience image we support, I would recommend filing a suggestion on our Ideas portal on https://ideas.circleci.com/ so that our product team can gauge interest in this 🙂

[2020-01-02 10:39] smostovoy opened #30 "the orb doesn't seem to install the latest version of a CLI or it doesn't re-install when version is changed in config.yml"
The command and error are:
 `aws ecs register-task-definition --cli-input-json file://./tmp/task-definition.json --network-mode awsvpc --requires-compatibilities FARGATE --region ********* --family se-dev-2699`
[code]

My setup looks like this:

[code]
scripts/build is creating a TaskDefinition in ECS with a Firelens a log adapter. This new AWS option didn't work untill I added `- run: pip install

[2020-01-07 18:13] AustinMaddox commented on #23
FYI, for anyone who stumbles across this in the future.
It is `aws-cli/default` **not** `awscli/default`.
Gotta make sure that dash (`-`) is in there. 😄

[2020-01-14 05:21] lokst commented on #24
Closing this due to inactivity.

[2020-01-14 05:21] #24 closed

[2020-01-15 21:18] braian125 commented on #3
Hi @joshunger I have that same error, could you help me to solve it ?, I have consulted the documentation, I have made several attempts and I always get the same

the deploy looks something like this:

[code]

[2020-01-15 23:17] joshunger commented on #3
@braian125 I'm sorry I don't know

[2020-01-17 20:52] braian125 commented on #3
Do not worry, the error was easily solved, you just have to be careful that the region specified in config.yml file is equal to the one configured in the bucket.

Thank you anyway

[2020-02-03 07:42] jaakkoleht commented on #30
Same thing with describe-image-scan-findings-aws cli command. Took me ages to find out what is wrong until I realized the aws cli version might be wrong. The orbs install should have a variable for aws cli version, like latest or xx.xx. Does someone actively develop these orbs or should I make pull request about it?

[2020-02-05 05:54] lokst commented on #30
@smostovoy @jaakkoleht Thanks for the report and apologies for the delay in response! It looks like you might be encountering this issue due to the executor used. For instance, the `ubuntu-1604:201903-01` machine image comes with an older version of the CLI preinstalled, which causes this orb to skip installing the CLI as it detects the existing version. We're working on a solution for this and wi

[2020-02-06 01:06] aleyan commented on #25
"Install AWS CLI" across two jobs takes up to 22% of the time in our most common workflow.

Per first comment suggestion, I tried caching via pip and circleci tooling. Unfortunately, aws-cli doesn't get installed in a virtualenv, making caching difficult.
[code]

This does not work due to the following error:
[code]
Any ideas?

[2020-02-06 03:37] #30 closed

[2020-02-06 04:24] lokst commented on #30
I would recommend using version `0.1.20` of the orb, which introduces a `skip-install-check` parameter in the `install` and `setup` commands, which will help with this situation.

[2020-02-06 07:04] raine commented on #25
Can you make a home brew docker image that contains aws cli and other things you need in CI environment?

[2020-02-06 21:40] aleyan commented on #25
That was my first thought, however I am concerned that then the "Spin Up Environment" will take ~30s because my custom image will be rarely cached on the machine. Also I am concerned about the maintenance.

[2020-02-12 02:25] skaji opened #32 "Request: support AWS CLI v2"
https://aws.amazon.com/blogs/developer/aws-cli-v2-is-now-generally-available/
Now AWS CLI v2 is generally available. It's nice if aws-cli-orb supports AWS CLI v2.

[2020-02-24 09:43] patsa commented on #24
@lokst
I can confirm this issue but not while using CircleCi. Instead I'm trying to implement an automated deployment through GitlabCI.
I'm currently using a Node 12.x image and install the  aws cli through the following commands.

[code]

When executing the last three commands I get the error message `aws: error: too few arguments``.
I can confirm that the variables are set. I used `echo` to disp

[2020-02-24 10:50] patsa commented on #24
It seems to be because of the dollar notation.
If I try to execute the same command with a normal string, the command succeeds without any problems.

Any idea how to escape the dollar sign in a way to make the aws cli accept it?

[2020-02-24 12:48] lokst commented on #24
@patsa Could you try adding `set -x` before the aws commands run so that you can confirm the actual command run?

[2020-02-24 13:11] patsa commented on #24
@lokst
The output looks like this now:
[code]

and like this when written like in my original post:

[code]

But the correct value is definitely set within the variable `$live_id`, as I confirmed by executing `echo $live_id`.

[2020-02-24 18:57] keroloswilliam opened #33 "updating examples"
I just need to update the examples following the other orbs like [aws-s3-orb](https://github.com/CircleCI-Public/aws-s3-orb)

1. with override credentials
2. add examples files inside example dir inside the src dir

[2020-02-26 04:51] lokst commented on #32
@skaji Thank you for reporting this, this is something we'd like to look into.

[2020-02-26 04:52] lokst commented on #24
@patsa I'd recommend trying something like `echo $live_id && aws configure set aws_access_key_id $live_id --profile default` to be sure that the variable is set at the point the aws command is run

[2020-03-09 12:18] deeptechs commented on #24
@patsa maybe you can check the **protected variables / protected branches**.
You can't use protected variables in unprotected branches. So maybe you don't really have your env variables.

[2020-03-17 14:20] patsa commented on #24
@deeptechs That was actually the culprit. Thanks for mentioning it!

[2020-04-09 18:24] krvajal opened #41 "Less not installed"
AWS CLI uses `less` for output for some commands. Sometimes it is not not available. I think we should check for less and it it is not available it should install it.

[2020-04-17 18:49] jlenos-inflight opened #42 "Default executor doesn't exit after receiving an exit code 0"
### Orb version

1.0.0

### What happened

I was using this orb's "default" executor and when I switched to use v1.0.0 from v0.1.22 of this orb my job just kept running without completing after receiving an exit code 0.

This message was also in the output:
```WARNING: terminal is not fully functional```

### Expected behavior

The job should have exited after receiving an exit code 0.

[2020-04-17 20:43] felicianotech commented on #42
Did some testing with running `exit 0` in a step with additional commands in that same step as well as an additional step. In all testing, the behavior was the same. `exit 0` caused the step to complete but not the job. This was tested with the following images:

- `cimg/python:3.8-node` - the current "default" image
- `cimg/python:3.8` - a previous "default" image
- `circleci/python:2.7-stretch`

[2020-04-17 21:42] jlenos-inflight commented on #42
Hi felicianotech,

Thank you for your prompt reply.
This did occur in a private project, but I can shed more detail here as to the job.

The job is using the `aws-code-deploy/deploy-bundle` command from the [circleci/aws-code-deploy@1.0.1](https://circleci.com/orbs/registry/orb/circleci/aws-code-deploy) orb. This command outputted `EXITCODE=0` which successfully ended the step using v0.1.22 of thi

[2020-04-27 09:07] lokst commented on #41
@krvajal Thank you for the suggestion! We will be considering adding that into the orb. (PRs from the community are also welcome)

[2020-04-27 09:09] lokst commented on #32
Closing this as `circleci/aws-cli@1.0.0` now supports installation v2 of the CLI

[2020-04-27 09:09] #32 closed

[2020-04-30 05:59] lokst commented on #25
Closing this issue for now as we are exploring adding a convenience image with aws pre-installed, which will help with this.

[2020-04-30 05:59] #25 closed

[2020-04-30 15:49] whyman commented on #42
Im encountering the same thing :-1:

Example snippet below:

[code]

[code]

[2020-04-30 16:11] jlenos-inflight commented on #42
I just hit this in a different context (works fine with 0.1.22):

[code]

[code]

Might this be related to AWS CLI v2 setup/install?

[2020-05-01 07:19] whyman commented on #42
Same here, v1 and skip install check works.

[2020-05-01 15:58] aleyan commented on #25
Is there a new issue tracking the status convenience image with aws pre-installed? Closing this issue otherwise is premature as we are all still having the problem of "Install AWS CLI" taking a non-trivial amount of time in our CI pipelines.

[2020-05-22 10:00] trevortitlestad opened #43 "Addition of Role in setup"
For certain workflows, the option to add a role to the AWS config is required. Currently this is an extra step in the job to write the ARN of the role to assume.

Having the option to specify a role to be added to either the default or named profile would allow better use of the IAM User to Role assumption that most people use.

[2020-05-23 19:19] asilverman opened #45 "aws-cli v1 installation fails on docker executor `cimg/base:edge`"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
Execution

[2020-05-28 01:27] breaker05 opened #46 "Windows support"
Please add support when using the "windows/default" executor. I'm currently use the bash shell as the powershell has some issue too.

[2020-05-28 03:09] mt-kelvintaywl commented on #8
I noticed the base image in now on Python indeed, and was able to use the orb @1.0.0 without requiring to install python myself.

I guess this issue can be closed :)

[2020-06-04 10:08] lokst commented on #45
@asilverman Could you try it on a `cimg/python` image instead? Version 1 of the AWS cli requires python to be installed.

[2020-06-04 10:14] lokst commented on #41
This should now be resolved in `circleci/aws-cli@1.1.0`, which disables paging.

[2020-06-04 10:14] #41 closed

[2020-06-12 22:13] davidtwamley opened #47 "AWS Default Region not making it into [default]"
https://github.com/CircleCI-Public/aws-cli-orb/blob/17ebc09d831a584c1c54c1f17f3ca7536cb78ce6/src/commands/setup.yml#L84

Generates what appears to be an incorrect ~/.aws/config. You can reproduce it locally like this:

[code]

According to the [AWS Docs](https://docs.aws.amazon.com/cli/latest/reference/configure/set.html) the command for default should be `set default.region` with no profile param

[2020-06-15 20:37] #20 closed

[2020-06-17 17:54] KyleTryon commented on #33
Examples added

[2020-06-17 17:54] #33 closed

[2020-06-17 17:54] #12 closed

[2020-06-17 17:55] #8 closed

[2020-06-17 17:56] KyleTryon commented on #46
@breaker05 For your use-case, would you mind the AWS CLI would be installed to Bash on windows, rather than a native windows installation?

[2020-06-17 18:07] breaker05 commented on #46
I was able to set my executor `shell: bash.exe` and then install the AWS CLI manually and then set the profile variables. Only downside to the _pip install_ is that it will only CLI version 1 so more work would be needed to install the 2.0 CLI package without using pip.

`

      - run:
          name: Install AWS CLI
          command: pip install awscli --upgrade

      - run:
          name: Co

[2020-06-17 18:11] #28 closed

[2020-06-17 18:12] KyleTryon commented on #28
Outdated. Please re-open if you continue to experience this issue in the current orb version.

[2020-06-24 14:04] KyleTryon commented on #47
Hello,

We have addressed this bug in our latest minor release. Thank you for reporting this! Please let us know if you continue to experience any further issues with the new release. Happy building!

https://circleci.com/orbs/registry/orb/circleci/aws-cli
@1.2.0 released
https://github.com/CircleCI-Public/aws-cli-orb/pull/48 (edited)

[2020-06-24 14:04] #47 closed

[2020-06-24 14:06] KyleTryon commented on #42
Hello all,

I believe this issue has been addressed in the latest minor release. The installation logic has been reworked and the edge case testing has been expanded. Please let us know if you continue to experience any issue in the latest release.

https://circleci.com/orbs/registry/orb/circleci/aws-cli
@1.2.0 released
https://github.com/CircleCI-Public/aws-cli-orb/pull/48

[2020-06-24 14:06] #42 closed

[2020-06-24 14:08] KyleTryon commented on #45
Hello all,

Improved messaging has been added to the latest edition of our aws cli orb. You will now see a more helpful error if the v1 CLI is attempted on an environment without python installed. Happy building!

https://circleci.com/orbs/registry/orb/circleci/aws-cli
@1.2.0 released
https://github.com/CircleCI-Public/aws-cli-orb/pull/48

[2020-06-24 14:08] #45 closed

[2020-06-24 20:28] davidtwamley commented on #47
I do think this fixes the default case. I wonder if it has broken anyone trying to use a non-default profile though. For instance on local:
[code]
I think you have to branch based on profile.

[2020-07-01 19:35] otherpirate opened #50 "Input when uninstalling the old version"
We are having trouble when installing AWS CLI v2

There is a shell input to replace `aws/README.md`, I'm not sure about what it is but started to happen 4 days ago

Full log:
[code]

[2020-07-01 23:56] deeptianand commented on #50
We are also running into the same issue! Would love to get this fixed.

[2020-07-02 02:14] kylev commented on #50
Same here. We're using `circleci/aws-cli@1` with the `cimg/python:3.8` executor.

[2020-07-03 05:14] lokst commented on #50
Could you try using the new orb version `1.2.1` to see if it resolves the issue?

[2020-07-08 09:49] gmemstr commented on #50
I _believe_ we can close this issue now, but feel free to reopen if you find this isn't actually resolved for you - given the reactions on @lokst's comment, I'm assuming it's all good :)

[2020-07-08 09:49] #50 closed

[2020-07-28 13:06] ledniy commented on #25
@lokst any updates on convenience image with aws?

[2020-07-31 19:23] invisiblefunnel commented on #25
As a workaround I've created a custom command that caches the AWS CLI installation. The linked gist also includes replacements for `aws-s3/copy` and `aws-s3/sync`. Assumes a linux install and env var config, but should be easy to adapt. Hope this is a helpful pattern for others to follow until an official alternative is available.

https://gist.github.com/invisiblefunnel/b719b199317916fe2816959a2c

[2020-08-25 09:11] #43 closed

[2020-10-02 09:33] gmemstr opened #54 "Ability to specify `when` for setup and install commands"
Related: https://github.com/CircleCI-Public/aws-s3-orb/pull/6

Within CircleCI, we can run steps even after the previous command failed using `when`: https://circleci.com/docs/2.0/configuration-reference/#run

This would be helpful for AWS-related actions that would need to be run every time, regardless of failure, to tear down test infrastructure or upload test results.

[2020-10-06 23:16] corydorning53 opened #55 "aws-cli/install is failing with cert error"
I've included the orb and I'm attempting to install but I'm receiving the error below. Everything worked fine until the last 3 builds i attempted:
[code]

config.yml
[code]

[2020-10-06 23:40] felicianotech commented on #55
Hi. Thank you for reporting. I'll investigate this further but it looks like AWS's hostname is having an error, which means the orb is having troubling downloading the CLI.

[2020-10-06 23:57] rubelw commented on #55
Looks like AWS just updated the cert.  Try again and see if still getting the error.  NOTE:  Looks like the alternate name was removed from cert, and they just updated it.

[2020-10-07 00:03] corydorning53 commented on #55
Looks like its good to go. Thanks for the quick response.

[2020-10-07 00:03] #55 closed

[2020-10-08 15:11] blimmer opened #56 "Allow passing DockerHub credentials"
## What would you like to be added

We'll need a way to pass the `auth` block to the `docker` configuration parameter ([docs](https://circleci.com/docs/2.0/configuration-reference/#docker)).

## Why is this needed

Starting November 1, 2020, DockerHub will [begin rate-limiting image pulls from DockerHub](https://www.docker.com/blog/scaling-docker-to-serve-millions-more-developers-network-egress/).

[2020-10-27 16:45] pascal-de-ladurantaye commented on #56
I am going through the exact same process with all our active projects on circleci. Is any work happening here considering the fact that this will break in 5 days?

[2020-10-27 16:48] pascal-de-ladurantaye commented on #56
For now, we will be using the workaround found [here](https://support.circleci.com/hc/en-us/articles/360051099071-Docker-Hub-Authentication-With-Orb-Executors)

[2020-10-29 10:23] gmemstr commented on #56
CircleCI has partnered with Docker Hub and will not be subject to rate limiting - you can read more here: https://support.circleci.com/hc/en-us/articles/360050623311-Docker-Hub-rate-limiting-FAQ

[2020-10-29 10:23] #56 closed

[2020-11-10 22:37] daniel-ciaglia opened #57 "role_arn can not be used without static credentials"
The newly introduced `setup` parameter `role_arn` can only be used together with static credentials to assume the role.
See: https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html -> `role_arn`

This is not possible with the Orb right now as neither `credential_source` nor `source_profile` can be configured.

I worked around that by these steps, which create a `default` profile

[2020-11-13 17:06] hc-danieltiziani opened #59 "Lightweight version"
Looking at the file inflated for installing awscli, doesn't it make sense to have a stripped down version, without `docutils`, `examples` and other stuff that is not required to execute awscli?

[2020-11-16 09:52] gmemstr commented on #59
@hc-danieltiziani Heya, do you happen to have a link to a resource detailing installing a more minimal version? I agree that keeping the installation small is a huge advantage.

[2020-11-16 14:39] hc-danieltiziani commented on #59
Good point, I did already tried to find some alternative, but could not come up with any.
Opened a Feature Request on the official repo, maybe someone will shed a light there:

https://github.com/aws/aws-cli/issues/5725

Tks @gmemstr

[2020-11-23 07:18] hc-danieltiziani commented on #59
There is some comments on the referenced issue, it might come a bundle with no examples (would be less 18mb this way).
But one thing that would optimize this, would maybe using `unzip -qq awscliv2.zip` (one extra quiet option), because I'm seeing the logs of every file inflated (as below), what do you think @gmemstr ?

[code]

[2020-11-26 20:34] BeyondEvil opened #61 "[Question] Why is node needed?"
The default cimg python version in the executor is `3.8-node`: https://github.com/CircleCI-Public/aws-cli-orb/blob/v1.3.1/src/executors/default.yml#L8

Why?

Thanks 🙏

[2020-12-01 15:29] BeyondEvil commented on #61
How would that work? You still need something (machine/docker) with python installed to be able to install the AWS CLI, right?

Makes sense.

True, I was just curious as to why the node-one was chosen. 👍

I prefer to keep things as simple and lean as possible providing as much flexibility as possible, and not force decisions on users (which I don't think the case is here).

[2020-12-07 15:59] KyleTryon commented on #61
@BeyondEvil

AWS CLI V2 now handles all of this internally with venv so you no longer need a python environment if you are using the latest AWS CLI.

[2020-12-07 15:59] #61 closed

[2020-12-14 10:42] gmemstr commented on #59
Closing this as it doesn't appear to be something we can optimize on our end.

@hc-danieltiziani We recently published an update that quiets the unzip command, so we should be all good on that front :)

[2020-12-14 10:42] #59 closed

[2021-02-01 17:09] KyleTryon opened #65 "Feat: ARM Support"
## Describe Request:
Enable support for ARM-based installation and execution for CircleCI's upcoming ARM build fleet.

## Examples:
  - Install on ARM-based executor
  - Test all functionality

## Supporting Documentation Links:
CircleCI ARM build fleet: https://www2.circleci.com/arm.html

[2021-02-02 12:48] jozenstar opened #66 "Feat: Configure region for specific profile"
# Describe Request
Add an option to configure region for the specific profile instead of default.

# Example:
Please see my PR #64

[2021-02-05 00:55] KALVS opened #67 "EB/Setup Failing with syntax error"
When installing the aws-cli the install python and pip step fails with the following output:

#!/bin/bash -eo pipefail
sudo apt-get -y -qq install python3.5-dev
sudo curl -O https://bootstrap.pypa.io/get-pip.py
sudo python3.5 get-pip.py
Selecting previously unselected package python3.5-dev.
Preparing to unpack .../python3.5-dev_3.5.3-1+deb9u3_amd64.deb ...
Unpacking python3.5-dev (3.5.3-1+deb9u3)

[2021-02-10 00:41] dsayling commented on #67
@KALVS I'm not sure how you're installing `pip`, but these commands are not located in this orb.

If you are trying to install `pip` with an older version of python yourself, you should be able to by updating the URL for the get-pip script to `https://bootstrap.pypa.io/3.5/get-pip.py`

[code]
Now use the 3.5 version
[code]

[2021-02-10 01:18] KALVS commented on #67
Hey Drew,

I am using https://circleci.com/developer/orbs/orb/circleci/aws-elastic-beanstalk <https://circleci.com/developer/orbs/orb/circleci/aws-elastic-beanstalk>

I am just running the setup step

Which is a command that calls SetupPipx()

                   SetupPipx() {
                        if [ "$(which pip | tail -1)" ]; then
                            echo "pip found"

[2021-02-10 18:09] dsayling commented on #67
The issue was fixed in the EB orb v1.0.1, see https://github.com/CircleCI-Public/aws-elastic-beanstalk-orb/issues/7
Be sure to update your circleci config with the latest version of that orb.

Since this is unrelated to this orb, I'm going to close this. If you have any other issues, please comment on the EB orb issue.

[2021-02-10 18:09] #67 closed

[2021-02-15 07:53] jozenstar commented on #66
The issue is resolved

[2021-02-15 07:54] #66 closed

[2021-04-09 04:13] tripper54 opened #71 "aws-cli/setup leaves a 'aws' directory in my project folder"
I zip my project up to deploy as a lambda function via the serverless framework.

After bumping the version of this orb the deploy would fail with AWS saying the payload was too large.

I ran the build with SSH enabled and noticed an 'aws' directory would appear in my project folder after running aws-cli/setup.

If I exclude this directory from the serverless packaging, the build succeeds again.

[2021-04-09 13:15] mhmd-rezaei opened #72 "cannot install AWS CLI: RequirementParseError: Expected ',' or end-of-list"
Recently I realized the new pipelines cannot install AWS-CLI anymore:

[code]

If you check the file name that it tries to install is `awscli-1.19.48.tar.gz` and it cannot be installed but when I check the old pipelines the candidate file to be installed is `awscli-1.19.44-py2.py3-none-any.whl`

Any Idea?

[2021-04-09 14:41] mhmd-rezaei commented on #72
Just needed to update the version

[2021-04-09 14:41] #72 closed

[2021-04-12 01:00] princed commented on #71
Same problem, in our case it breaks ESLint checks.

[2021-05-19 19:02] brandon-leapyear opened #75 "Handle unzip not installed"
Using the orb in a plain `centos:7` docker image fails.
[code]
It would be nice if the documentation could list the commands required. Or this error should just be expected, and this ticket can be closed

[2021-05-19 19:02] brandon-leapyear opened #76 "Fix uninitialized variables"
We run all our CI steps with `set -u`, which errors if a variable is not initialized. The following variables need to be initialized:
* `AWS_CLI_VER_STRING`

[2021-05-19 19:02] brandon-leapyear opened #77 "Handle `which` not installed"
Use `type` instead, which is a bash built-in

[2021-05-19 19:37] brandon-leapyear opened #80 "Unzip aws in temporary directory"
Currently, the aws bundle is being unzipped in the current directory. In v1 of the orb (https://github.com/CircleCI-Public/aws-cli-orb/commit/15c10a7dd355f720d679fa9900cc571afa0385d3), the orb `cd`'d into `/tmp` first

[2021-05-21 01:59] triqi commented on #57
I think introducing a new step `aws-cli/assume-role` would work well.

[code]

The above `aws-cli/assume-role` step would be the equivalent to something below.

[code]

[2021-05-21 17:29] brandon-leapyear opened #82 "Support alpine images"
We're running a CI Job in the `docker.bintray.io/jfrog/jfrog-cli-go:latest` image, and the orb doesn't install:
[code]
It would be great if it could grep for `x86_64 Linux` in addition to `x86_64 GNU/Linux`.

Also, it seems like the orb doesn't work when run in `sh`. Maybe the orb can specify the shell to be `bash`?

[2021-06-09 01:22] brandon-leapyear commented on #80
Duplicate of #71

[2021-06-09 01:22] #80 closed

[2021-06-16 15:40] #71 closed

[2021-07-20 07:02] lukaszsamson opened #83 "Unable to use awscli 1.20: Unsupported Python version detected"
When building from image circleci/elixir:1.12-node (which is based of debian buster - current stable)

the step
[code]
fails with
[code]
The image has python 2.7 aliased as python and python 3.7 aliased as python3 but apparently the setup script is choosing 2.7

As https://docs.amazonaws.cn/en_us/cli/latest/userguide/install-linux.html states

It probably coincides with the recent release of awscl

[2021-07-22 17:19] felicianotech opened #84 "Use 1st party orb badge service"
This should switch from my 2nd party badge service to the official one.

[2021-07-23 16:34] ahasna opened #85 "Can't use ENV VARS to dynamically pass profile-name to setup command"
recently upgraded to the latest orb version and started having issues with passing profile name using an environment variable stored in CircleCI Context.

my config:

[code]
when I rerun the job with SSH enabled and I run `cat ~/.aws/config` I get this:
[code]
this used to work with `v0.1.13` of the Orb which is no longer supported due to Python 2.7 depreciation by AWS CLI.

is there any workaroun

[2021-07-23 16:48] ahasna commented on #83
What Orb Version are you using?

[2021-07-23 17:49] lukaszsamson commented on #83
1.4.1, last compatible with awscli 1.x

[2021-07-30 08:40] #84 closed

[2021-08-05 07:22] mcatmos commented on #83
Hi, same issue over here! :(

[2021-08-12 11:30] gmemstr commented on #46
Does the `install` command from this orb work under bash? Or is there something specifically incompatible with our implementation and the bash version within Windows? @breaker05

[2021-09-09 09:20] dkarp0 commented on #54
This would be incredibly useful for us. We're uploading our build artifacts to s3 as circleci artifacts are only valid for 30 days. This often included test results, so we need them even on fail.

Additionally, there isn't a good workaround that I'm aware of! If you need `when: always` then you essentially cannot use this orb at all

[2021-09-14 15:15] kieran-osgood commented on #46
To add to this - I've just tried using the orb on:
[code]
Noticed the 'latest' was always skipping, and even tried to set the version override found it skipped over it still:

## Step: Install AWS CLI - 2.1.29
[code]

So as a result the windows executor fails at my next steps trying to perform docker login (as the get-login is now get-login-password etc.) to do a push to ECR.

[2021-10-11 20:44] justin-cmp commented on #83
this is still affecting us as well :cry:

[2021-11-19 14:39] #76 closed

[2021-11-23 20:12] BDBI-Duncan opened #90 "Support for external_id for assumed role"
Add external_id for aws-cli/setup.
[code]

[2021-12-20 18:59] brivu commented on #54
@dkarp0,

Thanks for letting us know.  I'm going to assign myself this task and will look at it as soon as possible.

Best,
Brian

[2022-02-16 17:32] cesarcelism commented on #57
Hi there.. this https://github.com/CircleCI-Public/aws-cli-orb/pull/91 should solve this issue. Right?

[2022-03-01 03:50] brivu commented on #57
Hey @cesarcelism,

That's correct!  Thanks for the note!  I'll close this issue.

Best,
Brian

[2022-03-01 03:50] #57 closed

[2022-03-03 21:02] #65 closed

[2022-03-11 17:10] brivu opened #95 "Migrate to Orb Tools v11"
### Describe Request
Migrate to Orb Tools v11.1
https://github.com/CircleCI-Public/orb-tools-orb/blob/master/MIGRATION.md

[2022-03-16 20:52] brivu commented on #82
Hey @brandon-leapyear,

Thanks for your patience on this issue. Can you give me some more insight about your use case? Does Alpine provide any particular utility that our `cimg/base` does not?

Thank you again!
Brian

[2022-03-16 20:59] brandon-leapyear commented on #82
So this isn't relevant for us anymore because we removed the CI job that ran into this issue. But to respond to your question (and to solve the general problem it seems like 9 other people are having):

We weren't using `cimg/base`, we were running a CI job that deploys files via the jfrog CLI, so we were using the jfrog image, and we needed to use the aws cli in the same job.

[2022-03-16 22:44] brivu commented on #90
Hey @BDBI-Duncan,

We've added the `role-arn-setup` command to address this issue in this PR: https://github.com/CircleCI-Public/aws-cli-orb/pull/91

Basically, have to make sure you already have a profile set up before running the `role-arn-setup` command.  You'll have to provide a new `profile-name`, `source-profile` and `role-arn`.  After that, you should be able to use the `aws sts` command to

[2022-03-17 20:39] brivu commented on #85
Hey @ahasna,

It should work if you put curly braces around the environment variable like this: `${DEPLOY_PROFILE_NAME}`

Let me know if you still run into issues!
Brian

[2022-03-17 20:39] #85 closed

[2022-03-18 21:20] KyleTryon commented on #77
Hey @brandon-leapyear,

Thanks for sending this in. I was not aware of the `type` command! Thank you for showing it to me.

I am having a little bit of a difficult type researching it but I wanted to share what I found. From my findings it seems that maybe `command -v` is a better generalized command. But I would like to hear more from you and your use-case.

Apologies if we are too late here, I r

[2022-03-18 21:22] brivu commented on #75
The AWS cli is downloaded as a `zip` file and is present in their documentation. We believe that this error message should just be expected.

[2022-03-18 21:22] #75 closed

[2022-03-18 21:27] brivu commented on #54
Closing with https://github.com/CircleCI-Public/aws-s3-orb/pull/6

[2022-03-18 21:27] #54 closed

[2022-03-18 23:05] brandon-leapyear commented on #77
I don't remember the exact situation, but I believe type or command would
both work for us.

On Fri, Mar 18, 2022, 2:21 PM Kyle T ***@***.***> wrote:

[2022-03-21 17:51] brivu commented on #83
Hey @lukaszsamson,

Thank you for letting us know about this issue. There are a couple of things here that may help.

The image you're trying to use has been deprecated.  Since python 2.7 has been deprecated as well, please use the new Elixir image that can be found here: https://circleci.com/developer/images/image/cimg/elixir

Please let us know if that doesn't work.

Best,
Brian

[2022-03-21 17:51] #83 closed

[2022-03-21 18:14] lukaszsamson commented on #83
@brivu

No it is not. Elixir 1.12 is going to receive support updates for some time. Anyway this is irrelevant in that case

Yes but python 3.x is available in the image and this orb is unable to find it properly.

It's been months since I stopped using this orb.

[2022-03-22 17:49] LaurentGoderre commented on #82
This is also needed to install the CLI in Docker-in-Docker situation.

For example run:

[code]

or

[code]

What you get is:

[code]

[2022-03-22 19:21] LaurentGoderre commented on #82
As a workaround, I move the authentication to it's own job then mount the `.aws` folder created to the other jobs

[code]

Then

[code]

[2022-03-28 05:54] #90 closed

[2022-04-05 20:15] brivu commented on #77
This was resolved with PR #98

[2022-04-05 20:15] #77 closed

[2022-04-05 20:16] brivu commented on #95
This was resolved with PR #98

[2022-04-05 20:16] #95 closed

[2022-04-05 20:16] brivu commented on #82
This was resolved with PR #98

[2022-04-05 20:16] #82 closed

[2022-04-05 20:16] brivu commented on #46
This was resolved with PR #98

[2022-04-05 20:16] #46 closed

[2022-04-26 13:52] ad-m-ss opened #104 "Missing escape for role-session-name for OIDC & temporary credentials expiration"
I use orb:

[code]

I receive in logs:

[code]

I think that steps should fail when it failed to obtain token (it fails silently on CI). Also there is missing escape around "PARAM_ROLE_SESSION_NAME", so my job with space fails.

In addiction, I suggest you to:
* read https://ben11kehoe.medium.com/never-put-aws-temporary-credentials-in-env-vars-or-credentials-files-theres-a-better-way-25ec45b4d73e

[2022-04-28 13:55] zbroniszewski opened #105 "role-arn not interpolating value from project environment variable"
### Orb version
3.1

### What happened
We are using the `circleci/aws-ecr@8.1.0` orb, which is using the `circleci/aws-cli@3.1` orb.
We are using the `build-and-push-image` command of the `aws-ecr` orb, and based on our configuration of this command, this uses the `role-arn-setup` command of the `aws-cli` orb.

When attempting to pass a Project environment variable to the `role-arn` parameter of t

[2022-05-02 17:08] adamdmharvey opened #106 "Improved error handling forAssume Role with Web Identity command"
This is to suggest some improved error handling for the Assume Role with Web Identity Command:

https://circleci.com/developer/orbs/orb/circleci/aws-cli#commands-assume-role-with-web-identity

Specifically, that it **should fail** if it cannot successfully assume the role.

When using this command at first, it worked. We intentionally changed our target role to assume to change the string matching

[2022-05-02 18:45] brivu commented on #104
Hey @ad-m-ss,

Thanks for your contribution. `role-session-name` is actually required and can not be an empty string. I'll go ahead and add some validation for it.

In terms the article you sent, it suggests using the `config` file to create new profiles instead of `credentials`. While this is great, the `assume-role-with-web-identity` eliminates static credentials entirely and uses the `CIRCLE_OI

[2022-05-02 20:52] brivu commented on #106
Hey @adamdmharvey,

Thanks for letting us know. I think this is a bug with the `AWS CLI` specifically.

In the script below, I am purposely setting `PARAM_ROLE_SESSION_NAME` to a blank space so that the command fails. I am also echoing `$?` to check the status code of the command.
<img width="1272" alt="image" src="https://user-images.githubusercontent.com/64455338/166323981-f0e75f11-6dc7-4294-bca

[2022-05-02 22:32] ad-m-ss commented on #104
By default it have value `${CIRCLE_JOB}`, so it does have value in my cases. The issue is that my value have probably spaces, so it fails on validation. Notice at the end of output:

[code]

I believe this is due to the presence of spaces somewhere in the middle of the default parameters.

I think this is risky, because it might fails when temporary keys expires or become invalided for some other

[2022-05-02 23:05] brivu commented on #106
Hey @adamdmharvey,

I did some digging and I ended validating the command by using `${PIPESTATUS[0]}`. It'll cause the command to fail with the appropriate errors and exit codes from `AWS`

Best,
Brian

[2022-05-02 23:08] brivu commented on #105
Hey @zbroniszewski,

I've added `PARAM_AWS_CLI_ROLE_ARN=$(eval echo "${PARAM_AWS_CLI_ROLE_ARN}")` to all commands requiring the `role-arn`. That should solve your issue. Thanks for letting me know!

Best,
Brian

[2022-05-03 14:55] adamdmharvey commented on #106
Thanks, @brivu . My speculation was it was not an error with the CLI, and unrelated to the session name, but with the wrapping of the CLI call into the read statement, such that any error in the CLI would effectively be "trapped" by the outer command, and even if the result was invalid environment variables, we'd get an exit 0.

Just running a raw assume role which fails, it definitely returns an

[2022-05-03 17:32] adamdmharvey commented on #106
My team and I just tested this orb fix and can confirm a user who is not authorized to assume the role in AWS, when triggering the pipeline now successfully gets an error message on this step.  So for now, the fix addresses my issue; thanks Brian!

<img width="1037" alt="image" src="https://user-images.githubusercontent.com/33203301/166507396-1980ad3c-ad0a-4011-9ae5-8e30d2729d90.png">

[2022-05-04 07:25] rubensa commented on #105
I need this feature. Any ETA for v3.1.1 to be released?

[2022-05-04 07:27] #105 closed

[2022-05-05 20:26] #106 closed

[2022-05-06 01:56] ad-m-ss opened #109 "Silient failure for missing context for "aws sts assume-role-with-web-identity""
I miss to specify context to enable OIDC token in my workflows. Steps to setup temporary credentials pass silently:

<img width="1242" alt="image" src="https://user-images.githubusercontent.com/99484706/167054139-8b2922fc-122e-4fd0-a220-e3013b888bd8.png">

I would like receive error in that step to easier identify the root cause of failure.

[2022-05-20 10:52] pavelkucera commented on #104
Hi,

I'm running into the same issue, my Job Name contains spaces and then it is not passed to AWS CLI properly. I believe that a fix would be to pass env variables using double quotes to prevent globbing and word splitting. Should I send a PR with that?

[2022-05-26 06:01] brivu commented on #104
Hey @pavelkucera,

Can you show me an example config of what you mean so I can check it out?

Best,
Brian

[2022-05-26 07:48] pavelkucera commented on #104
Hi @brivu, the gist of the config:
[code]

As for the double quoting, I think it needs to happen in shell, specifically in [assume-role-with-web-identity.sh:12](https://github.com/CircleCI-Public/aws-cli-orb/blob/master/src/scripts/assume-role-with-web-identity.sh#L12) I would add double quotes around `${PARAM_ROLE_SESSION_NAME}` Would that make sense?

[2022-05-26 18:26] brivu commented on #104
Yes, thank you!

[2022-06-01 20:23] jfirebaugh commented on #109
Similarly, if awscli is not installed, the `aws-cli/assume-role-with-web-identity` still "succeeds", despite failing internally with an "aws: command not found" error. Expected behavior is that the step fails, so that it's easy to identify the issue.

[2022-06-14 15:28] duffn commented on #109
The original post here seems to have been fixed with https://github.com/CircleCI-Public/aws-cli-orb/issues/106. Your screenshot shows the code prior to this PR.

[2022-08-23 23:06] brivu opened #114 "Error with assume-role-with-web-identity command with Alpine Linux"
When running the `assume-role-with-web-identity` command in `Alpine`, it fails with the following message:
[code]
The `<<<` is not posix compliant and causes the command to fail

[2022-08-24 18:02] #114 closed

[2022-08-24 19:19] #109 closed

[2022-08-26 17:44] lewalt000 opened #119 "aws-cli/setup fails in shells that disallow unset variables"
9/2/2022 update - see https://github.com/CircleCI-Public/aws-cli-orb/issues/119#issuecomment-1235730571 for updated issue description.

## What would you like to be added

It would be very useful to add `working_directory` as a configuration parameter to the `aws-cli/setup` command. Has this option been considered?

## Why is this needed

Some jobs set a default `working_directory` for the entire

[2022-09-02 07:44] brivu commented on #119
Hey @lewalt000,

I'm still a little unclear what this new parameter would used for. Can you give me a sample config that causes your job to fail?

Let me know and thank you for your contribution!

Best,
Brian

[2022-09-02 17:08] lewalt000 commented on #119
@brivu thank you for your reply. While working on a minimal reproducible config, I've realized the install issue is not related to working directory, but rather running the orb in a shell environment with: `/bin/bash -o nounset`. I will update the issue title accordingly.

This causes the error:

[code]

In my environment, many workflows have `- o nounset` as a shell default. Would it make sense t

[2022-09-03 20:03] paarth1995 opened #120 "aws: command not found?"
I am using the `aws-code-deploy` orb in conjunction with `aws-cli` orb to deploy an application to ECS. This is what my config.yml looks like :-

[code]

but i keep running into `/bin/bash: line 6: aws: command not found`. Please see the complete ouput :-

[code]

[2022-09-03 20:12] paarth1995 commented on #120
Updated config to fix the issue :-

[code]

[2022-09-03 20:12] #120 closed

[2022-09-04 23:48] r4v5 opened #121 "aws-cli/setup for multiple profiles clobbers default region non-obviously"
If you create two AWS profiles:
[code]

The end result will be a ~/.aws/config that looks like:
[code]

If you set them up in the reverse order, the `default` profile ends up with region `eu-central-1`.

The help text for the "configure default region" parameter is ambiguous as to whether this is intended:

[code]

"default region" could be reasonably construed to be the default region _for the pr

[2022-11-15 08:29] jtheuer commented on #104
I ran into the same issue and want to point out another important issue connected to this: The script didn't fail for me so my deployment continued to run and I received confusing aws authentication errors further down the build pipeline.

Can you please add validation that the env vars where correctly set and fail your script (orb) if not? I believe working with correct exit codes is a common bes

[2022-11-19 15:17] umihico opened #123 "aws-cli/install starts failing in recent days"
My CI jobs had been working fine for a long time but it fails today. I call `aws-cli/install` on [alpine/terragrunt](https://hub.docker.com/r/alpine/terragrunt)

These recent posted issues seems related.
- https://github.com/sgerrand/alpine-pkg-glibc/issues/190
- https://github.com/sgerrand/alpine-pkg-glibc/issues/185

I tried `--force-overwrite` as mentioned [here](https://github.com/sgerrand/alp

[2022-11-29 17:29] theouteredge opened #125 "aws-cli/setup does not work on a Windows executor"
I'm getting the following error when trying to install the aws cli on a windows machine build:

[code]

Error:
[code]

[2022-11-29 19:57] theouteredge commented on #125
Got this working by changing:
[code]

The for all the other commands to use
[code]

[2022-11-29 19:57] #125 closed